@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');

/* fade in animation */
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


@media (max-width:600px) {
    :root{
        font-size:12px;
    }
    
    .footer-description-section{
        min-width: 100%;
    }
    .footer-description{
        width: 70%;
    }
    .team-section{
        width: 50%;
    }
    .links-section{
        width: 50%S;
    }
    .newsletter-section{
        width: 100%;
    }
    .newsletter-section form input[type=email]{
        width: 100%;
    }
    .equipment-category-box{
        align-items: center;
    }
    .equipments-main-container-div{
        flex-direction: column;
        align-items: center;
    }
    .equipment-info{
        width: 240px;
    }
    .equipment-info-right{
        width: 240px;
    }
    .equipment-info-bottom{
        width: 240px;
    }
    .equipment-info-bottom-right{
        width: 240px;
    }
    .equipment-info img{
        width: 240px;
    }
    .equipment-info-right img{
        width: 240px;
    }
    .equipment-info-bottom img{
        width: 240px;
    }
    .equipment-info-bottom-right img{
        width: 240px;
    }
}

@media (min-width:600px){
    .equipment-category-box{
        align-items: flex-start;
    }
    .equipment-info{
        width: 400px;
    }
    .equipment-info-right{
        width: 400px;
    }
    .equipment-info-bottom{
        width: 400px;
    }
    .equipment-info-bottom-right{
        width: 400px;
    }

    .equipment-info img{
        min-width: 400px;
    }
    .equipment-info-right img{
        min-width: 400px;
    }
    .equipment-info-bottom img{
        min-width: 400px;
    }
    .equipment-info-bottom-right img{
        min-width: 400px;
    }
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*nav bar starts*/
.navbar{
    background-color: black;
    min-height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 0
}

.nav-image{
    width: 8rem;
    height: auto;
    float: left;
    
}

.nav-logo{
    font-size: 2.5rem;
    font-family: "bakbak one",sans-serif;
    color: white;
    width: max-content;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.nav-links a{
    color: white;
    font-size: 1.063rem;
    font-family: "roboto",sans-serif;
    border-radius: 3px;
    text-decoration: none;
}

.nav-links>a:hover{
    color: rgba(255, 255, 255, 0.8);
}



.sign-button{
    background-color:white;
    color: black;
    border-radius: 50px;
    border-style: none;
    padding-top: 0.2rem;
    cursor: pointer;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-button:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

.sign-button h3{
    color: black;
    font-size: 2rem;
    font-family: "Bebas Neue",sans-serif;
    font-weight: lighter;
}

/*nav bar ends*/

/* main starts */
.equipment-category-box{
    width:90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: flex-start; */
    gap: 1rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.equipment-category-box h1{
    font-family: "poppins",sans-serif;
    font-weight: 900;
    color: black;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    
}

.equipments-main-container-div{
    width: 100%;
    height: 62%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
}

.equipment-info{
    display: none;
    background-color: rgba(0,0,0,0.6);
    color: white;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.equipment-info img{
    max-width: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.equipment-info p{
    padding: 0.7rem;
    font-size: 0.9rem;
    font-family: "montserrat",sans-serif;
    font-weight: 200;
    text-align: justify;
    width: 95%;
    margin: 0 auto;
}

.equipment-info p b{
    font-weight: 500;
}

.equipment-info i{
    float: right;
    margin:0 1.5rem 1rem 0;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.individual-equipments:hover  .equipment-info{
    display: block;
    position: absolute;
    z-index: 1;
    top: 11rem;
    left: 0;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.individual-equipments{
    min-width: max(20%,240px);
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ECECEC;
    border-radius: 2rem;
    box-shadow:3px 3px 2px #232323;
    position: relative;
}

.individual-equipments h3{
    font-family: "poppins",sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: #515151;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
}

.individual-equipments>a img{
    flex-shrink: 1;
    max-width: 240px;
    filter: drop-shadow(1.928px 2.298px 3px rgba(0,0,0,0.56));
}

.equipment-info-right{
    display: none;
    background-color: rgba(0,0,0,0.6);
    color: white;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.equipment-info-right img{
    max-width: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.equipment-info-right p{
    padding: 0.7rem;
    font-size: 0.9rem;
    font-family: "montserrat",sans-serif;
    font-weight: 200;
    text-align: justify;
    width: 95%;
    margin: 0 auto;
}

.equipment-info-right p b{
    font-weight: 500;
}

.equipment-info-right i{
    float: right;
    margin:0 1.5rem 1rem 0;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.individual-equipments:hover  .equipment-info-right{
    display: block;
    position: absolute;
    z-index: 1;
    top: 11rem;
    right: 0;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.equipment-info-bottom{
    display: none;
    background-color: rgba(0,0,0,0.6);
    color: white;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.equipment-info-bottom img{
    max-width: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.equipment-info-bottom p{
    padding: 0.7rem;
    font-size: 0.9rem;
    font-family: "montserrat",sans-serif;
    font-weight: 200;
    text-align: justify;
    width: 95%;
    margin: 0 auto;
}

.equipment-info-bottom p b{
    font-weight: 500;
}

.equipment-info-bottom i{
    float: right;
    margin:0 1.5rem 1rem 0;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.individual-equipments:hover  .equipment-info-bottom{
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 11rem;
    left: 0;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.equipment-info-bottom-right{
    display: none;
    background-color: rgba(0,0,0,0.6);
    color: white;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.equipment-info-bottom-right img{
    max-width: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.equipment-info-bottom-right p{
    padding: 0.7rem;
    font-size: 0.9rem;
    font-family: "montserrat",sans-serif;
    font-weight: 200;
    text-align: justify;
    width: 95%;
    margin: 0 auto;
}

.equipment-info-bottom-right p b{
    font-weight: 500;
}

.equipment-info-bottom-right i{
    float: right;
    margin:0 1.5rem 1rem 0;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.individual-equipments:hover  .equipment-info-bottom-right{
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 11rem;
    right: 0;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}



/* main ends */

/*footer starts*/
.footer-box{
    width: 100%;
    height: max-content;
    overflow: hidden;
    background-color: black;
    color: white;
    border-top-left-radius: 100px;
    position: relative;
    bottom: 0;

}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem;
}

.flex-item{
    text-align: justify;
}


.footer-description-section{
    width: 50%;/* width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-description-section img{
    width: 15rem;
}

.footer-description{
    text-align: justify;
    font-family: "roboto",sans-serif;
    font-weight: lighter;
    width: 100%;
}

.team-section{
    width: min-content;
    flex-grow: 1;
    flex-shrink: 0;
}

.team-section h2{
    text-decoration: none;
    color: white;
}



.team-section h2 a{
    text-decoration: none;
    color: white;
}

.team-section ul{
    list-style-type: none;
    list-style-position: inside;
}

.team-section li{
    margin-top: 0.7rem;
}

.links-section{
    width: min-content;
    flex-grow: 1;
    flex-shrink: 0;
}


.links-section ul{
    list-style-type: none;
}

.links-section li{
    margin-top: 0.7rem;
}

.links-section li a{
    text-decoration: none;
    color: white;
}
.newsletter-section{
    width: max-content;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.7rem;
}





.newsletter-section form input[type=email]{
    background-color: transparent;
    border-style: none;
    width: 50%;
    height: 1.5rem;
    margin-top: 10px;
    border-bottom: 1px solid grey;
    color: grey;
}

.newsletter-section form input[type=email]:focus{
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

.newsletter-section form button{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.newsletter-section .social-icons img{
    cursor: pointer;
}


.footer-box .footer-note{
    text-align: center;
}

.footer-note p{
    font-family: "roboto",sans-serif;
    font-weight: lighter;
}



.team-member-name li{
    font-family: "roboto",sans-serif;
    font-weight: lighter;
}

.links-list li{
    font-family: "roboto",sans-serif;
    font-weight: lighter;
}

.flex-item h2{
    font-family: "Bebas Neue",sans-serif;
    letter-spacing: 2px;
}

/*footer ends*/
