@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@media (max-width:600px) {
    :root{
        font-size:12px;
    }
    
    .footer-description-section{
        min-width: 100%;
    }
    .footer-description{
        width: 70%;
    }
    .team-section{
        width: 50%;
    }
    .links-section{
        width: 50%S;
    }
    .newsletter-section{
        width: 100%;
    }
    .newsletter-section form input[type=email]{
        width: 100%;
    }
}



*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    background:url(../images/bg.jpg) no-repeat;
    background-size:cover;
    background-position: center;
}

/*nav bar starts*/
.navbar{
    background-color: black;
    min-height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 0
}

.nav-image{
    width: 8rem;
    height: auto;
    float: left;
    
}

.nav-logo{
    font-size: 2.5rem;
    font-family: "bakbak one",sans-serif;
    color: white;
    width: max-content;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.nav-links a{
    color: white;
    font-size: 1.063rem;
    font-family: "roboto",sans-serif;
    text-decoration: none;
}

.nav-links>a:hover{
    color: rgba(255, 255, 255, 0.8);
}



.sign-button{
    background-color:white;
    color: black;
    border-radius: 50px;
    border-style: none;
    padding-top: 0.2rem;
    cursor: pointer;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-button:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

.sign-button h3{
    color: black;
    font-size: 2rem;
    font-family: "Bebas Neue",sans-serif;
    font-weight: lighter;
}

/*nav bar ends*/


.Contact-section{
    width:80%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: auto;
    border: 5px solid #b3b3b3;
    border-radius: 6.25rem;
    background-color: rgba(0,0,0,0.5);
    margin: 1rem auto;
    padding: 0 3.125rem;
}

.Contact-info{
    color:#fff;
    line-height:2.5rem;
    font-size:1.125rem;
    font-family: "poppins",sans-serif;
    font-size:1.25rem;
}

.Contact-form{
    max-width:43.75rem;
}

.Contact-info, .Contact-form{
    flex:1;
}

.Contact-form h2{
    color:#fff;
    text-align:center;
    font-size:3.125rem;
    text-transform:uppercase;
    margin-bottom:1.875rem;
    font-family: "poppins",sans-serif;
}

.Contact-form .text-box{
    background:#000;
    color:#fff;
    border:none;
    height:3.125rem;
    padding:0.75rem;
    font-size:0.938rem;
    border-radius:5px;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    margin-bottom:0.625rem;
    opacity:0.9;
    font-family: "poppins",sans-serif;
}

.Contact-form textarea{
    background: #000;
    color:#fff;
    border:none;
    width:100%;
    padding:0.75rem;
    font-size:0.938rem;
    min-height:12.5rem;
    max-height:25rem;
    resize:vertical;
    border-radius:5px;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    margin-bottom:0.625rem;
    opacity:0.9;
    font-family: "poppins",sans-serif;
}

.Contact-form .send-btn{
    float:left;
    background:#2E94E3;
    color:#fff;
    border:none;
    width:7.5rem;
    height:2.5rem;
    font-size:0.938rem;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:2px;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
    transition-property: background;
    margin-bottom:1rem;
    font-family: "poppins",sans-serif;
}

.Contact-form .send-btn:hover{
    background:#0582E3;
}

@media screen and (max-width:950px){
    .Contact-section{
        flex-direction: column;
    }

    .Contact-info, .Contact-form{
        margin: 1.875rem 50px;
    }

    .Contact-form h2{
        font-size:1.875rem;
    }

    .Contact-form .text-box{
        width:100%;
    }
}

.alert-success{
    z-index:1;
    background:#D4EDDA;
    font-size:18px;
    padding:20px 40px;
    min-width:420px;
    position:fixed;
    right:0;
    top:10px;
    border-left:8px solid #3AD66E;
    border-radius:4px;
}


/*footer starts*/
.footer-box{
    width: 100%;
    height: max-content;
    overflow: hidden;
    background-color: black;
    color: white;
    border-top-left-radius: 100px;
    position: relative;
    bottom: 0;

}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem;
}

.flex-item{
    text-align: justify;
}


.footer-description-section{
    width: 50%;/* width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-description-section img{
    width: 15rem;
}

.footer-description{
    text-align: justify;
    font-family: "roboto",sans-serif;
    font-weight: lighter;
    width: 100%;
}

.team-section{
    width: min-content;
    flex-grow: 1;
    flex-shrink: 0;
}

.team-section h2{
    text-decoration: none;
    color: white;
}



.team-section h2 a{
    text-decoration: none;
    color: white;
}

.team-section ul{
    list-style-type: none;
    list-style-position: inside;
}

.team-section li{
    margin-top: 0.7rem;
}

.links-section{
    width: min-content;
    flex-grow: 1;
    flex-shrink: 0;
}


.links-section ul{
    list-style-type: none;
}

.links-section li{
    margin-top: 0.7rem;
}

.links-section li a{
    text-decoration: none;
    color: white;
}
.newsletter-section{
    width: max-content;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.7rem;
}





.newsletter-section form input[type=email]{
    background-color: transparent;
    border-style: none;
    width: 50%;
    height: 1.5rem;
    margin-top: 10px;
    border-bottom: 1px solid grey;
    color: grey;
}

.newsletter-section form input[type=email]:focus{
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

.newsletter-section form button{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.newsletter-section .social-icons img{
    cursor: pointer;
}


.footer-box .footer-note{
    text-align: center;
}

.footer-note p{
    font-family: "roboto",sans-serif;
    font-weight: lighter;
}



.team-member-name li{
    font-family: "roboto",sans-serif;
    font-weight: lighter;
}

.links-list li{
    font-family: "roboto",sans-serif;
    font-weight: lighter;
}

.flex-item h2{
    font-family: "Bebas Neue",sans-serif;
    letter-spacing: 2px;
}

/*footer ends*/