@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@media (max-width:600px) {
    :root{
        font-size:12px;
    }
    
    .footer-description-section{
        min-width: 100%;
    }
    .footer-description{
        width: 70%;
    }
    .team-section{
        width: 50%;
    }
    .links-section{
        width: 50%S;
    }
    .newsletter-section{
        width: 100%;
    }
    .newsletter-section form input[type=email]{
        width: 100%;
    }
    #feedback-box{
        width: 90%;
    }
    #feedback-box form{
        width:max-content;
    }
    body{
        background-image: url(../images/bg3-mobile.jpg);
        background-repeat: no-repeat;
        background-size:cover;
    }
}

@media (min-width:600px) {
    #feedback-box{
        width: 50%;
    }
    #feedback-box form{
        width: inherit;
    }
    body{
        background-image: url(../images/bg3.jpg);
        background-repeat: no-repeat;
        background-size:cover;
    }
}



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*nav bar starts*/
.navbar{
    background-color: black;
    min-height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 0
}

.nav-image{
    width: 8rem;
    height: auto;
    float: left;
    
}

.nav-logo{
    font-size: 2.5rem;
    font-family: "bakbak one",sans-serif;
    color: white;
    width: max-content;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.nav-links a{
    color: white;
    font-size: 1.063rem;
    font-family: "roboto",sans-serif;
    border-radius: 3px;
    text-decoration: none;
}

.nav-links>a:hover{
    color: rgba(255, 255, 255, 0.8);
}



.sign-button{
    background-color:white;
    color: black;
    border-radius: 50px;
    border-style: none;
    padding-top: 0.2rem;
    cursor: pointer;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-button:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

.sign-button h3{
    color: black;
    font-size: 2rem;
    font-family: "Bebas Neue",sans-serif;
    font-weight: lighter;
}

/*nav bar ends*/


#feedback-box{
	margin:70px auto;
	/* width: 50%; */
	height: 500px;
	background-color: rgba(24, 24, 24, 0.9);
	border: 5px solid white;
	border-radius: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedback-box h1{
	text-align: center;
	padding-top: 20px;
	font-family: "Montserrat",sans-serif;
	color: white;
}

#feedback-box form{
	padding-top: 30px;
    display: flex;
    flex-direction: column;
}

#feedback-box label{
	font-family: "Roboto",sans-serif;
	font-size: 20px;
	color: #dfdfdf;
}

#feedback-box div input{
	width: 110%;
	height: 40px;
	border-radius: 50px;
	border-style: none;
	background-color: #2c2c2c;
}

#message{
	width: 110%;
	height: 110px;
	border-radius: 20px;
	border-style: none;
	background-color:#2c2c2c;
}
#message::placeholder,input::placeholder{
	padding-left: 20px;
	font-family: "roboto",sans-serif;
	color: #939393;
	font-size: 15px;
}

#message::placeholder{
	padding-top: 10px;
	padding-left: 20px;
	font-family: "roboto",sans-serif;
	color: #939393;
	font-size: 15px;
}

#feedback-box input:focus,#feedback-box textarea:focus{
	background-color: #525252;
}

.form-units{
	margin-bottom: 20px;
}

#feedback-box input{
	font-family: "roboto",sans-serif;
	font-size: 17px;
	font-weight: bold;
	padding-left: 5px;
}

#message{
	font-family: "roboto",sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding-top: 5px;
	padding-left: 8px;
	padding-right: 8px;
}

#submit-button{
	width: 80%;
	height: 40px;
	border-radius: 50px;
	border-style: none;
	background-color: #faf200;
	margin: 0 30px;
}

#submit-button:hover{
	background-color: #cdc600;
}

/*footer starts*/
.footer-box{
    width: 100%;
    height: max-content;
    overflow: hidden;
    background-color: black;
    color: white;
    border-top-left-radius: 100px;
    position: relative;
    bottom: 0;

}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem;
}

.flex-item{
    text-align: justify;
}


.footer-description-section{
    width: 50%;/* width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-description-section img{
    width: 15rem;
}

.footer-description{
    text-align: justify;
    font-family: "roboto",sans-serif;
    font-weight: lighter;
    width: 100%;
}

.team-section{
    width: min-content;
    flex-grow: 1;
    flex-shrink: 0;
}

.team-section h2{
    text-decoration: none;
    color: white;
}



.team-section h2 a{
    text-decoration: none;
    color: white;
}

.team-section ul{
    list-style-type: none;
    list-style-position: inside;
}

.team-section li{
    margin-top: 0.7rem;
}

.links-section{
    width: min-content;
    flex-grow: 1;
    flex-shrink: 0;
}


.links-section ul{
    list-style-type: none;
}

.links-section li{
    margin-top: 0.7rem;
}

.links-section li a{
    text-decoration: none;
    color: white;
}
.newsletter-section{
    width: max-content;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.7rem;
}





.newsletter-section form input[type=email]{
    background-color: transparent;
    border-style: none;
    width: fit-content;
    height: 1.5rem;
    margin-top: 10px;
    border-bottom: 1px solid grey;
    color: grey;
}

.newsletter-section form input[type=email]:focus{
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

.newsletter-section form button{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.newsletter-section .social-icons img{
    cursor: pointer;
}


.footer-box .footer-note{
    text-align: center;
}

.footer-note p{
    font-family: "roboto",sans-serif;
    font-weight: lighter;
}



.team-member-name li{
    font-family: "roboto",sans-serif;
    font-weight: lighter;
}

.links-list li{
    font-family: "roboto",sans-serif;
    font-weight: lighter;
}

.flex-item h2{
    font-family: "Bebas Neue",sans-serif;
    letter-spacing: 2px;
}

/*footer ends*/